<div>
  <h1>Create CSV of the Fruits</h1>
  <br>
  <%= form_tag fruits_create_csv_path, method: :post, class: "filter-form" do %>
    <div class="form-group">
      <%= label_tag :family, "Family:" %>
      <%= text_field_tag :family %>
    </div>
    <br>
    <div class="form-group">
      <%= label_tag :genus, "Genus:" %>
      <%= text_field_tag :genus %>
    </div>
    <br>
    <div class="form-group">
      <%= label_tag :name_zip, "Name Zip:" %>
      <%= text_field_tag :name_zip %>
    </div>
    <br>
    <div class="form-group">
      <%= label_tag :name_fruit, "Name Fruit:" %>
      <%= text_field_tag :name_fruit %>
    </div>
    <br>
    <%= submit_tag "Search and create CSV", class: "btn btn-primary" %>
  <% end %>
</div>